form{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

input, textarea, select, button{
  font-size: 16px;
  padding: 1rem;
  margin-bottom: 1rem;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
button span, button img{
  width: 18px;
  height: 18px;
}

button span{
  margin-right: 5px;
}

span.error{
  border-radius: 3px;
  background-color: #fafafa;
  color: red;
  padding: 4px 8px;
}